#featured {
    img {
        height: 100%;
        object-fit: cover;
    }
}

.card {
    border-radius: 4px;
    /* overflow:hidden = se houver transbodamento esconda tudo o que há na caixa */
    /* utilizado para a boder-radius funcionar */
    overflow: hidden;
    position: relative;

    /* &::before = card::before */
    &::before {
        /* para criar um elemento html com css precisa de um conteúdo */
        content: "";
        position: absolute;
        inset: 0;
        top: 50%;
        /* linear-gradient - para ter um gradiente e transparência */
        background: linear-gradient(
            180deg,
            transparent 0%,
            #020617 100%
        );
    }
}

