/* classes utilitárias */
/* utility-first = uma classe que terá apenas utilizade (será usanda apenas 1 vez) */
.grid {
    display: grid;
}

/* grid no fluxo de coluna / grid-flow-columns */
.grid-flow-col {
    grid-auto-flow: column;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.gap-16 {
    gap: 16px;
}

/* .text-2xl = texto 2 vezes extra grande */
.text-2xl {
    font: var(--h1);
}

/* texto extra grande */
.text-xl {
    font: var(--h2);
}

/* texto grande */
.text-lg {
    font: var(--h3);
}

/* texto pequeno */
.text-sm {
    font: var(--text-sm);
}